<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_Interim"
        tools:targetApi="31">
        <activity
            android:name=".Geolocalisation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Candidat.AffichageAnnonces"
            android:exported="true">
        </activity>
        <activity
            android:name=".Candidat.ProfilCandidat"
            android:exported="true">
        </activity>
        <activity
            android:name=".Candidat.ApplyCandidature"
            android:exported="true">
        </activity>
        <activity
            android:name=".Commun.Login"
            android:exported="true">
        </activity>
        <activity
            android:name=".Commun.RegisterMenu"
            android:exported="true">
        </activity>
        <activity
            android:name=".Commun.RegisterFormulaire"
            android:exported="true">
        </activity>
        <activity
            android:name=".Commun.Message"
            android:exported="true">
        </activity>
        <activity
            android:name=".Commun.WriteMessage"
            android:exported="true">
        </activity>
        <activity
            android:name=".Employeur.ProfilEmployeur"
            android:exported="true">
        </activity>
        <activity
            android:name=".Employeur.AddAnnonce"
            android:exported="true">
        </activity>

    </application>

</manifest>